<!DOCTYPE html>
<!-- thを接頭辞としてThymeleaf機能を有効にする -->
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/style.css}" rel="styleSheet">
    <title>Top</title>
</head>
<body>
<div class="header-contents">
    <h1>匿名掲示板</h1>
</div>
<div class="main-contents">
    <!-- 新規投稿ボタンを押すと@GetMapping("/new")へ飛ぶ -->
    <a href="/new">
        <button class="new-button" type="button">新規投稿</button>
    </a>
    <!-- 絞込ボタン -->
    <form>
        <span>開始日</span>
        <input type="date" th:filed="{}">
    </form>

    <!-- controllerから渡ってきた投稿データListから値を取り出して表示 -->
    <div class="message-icon" th:each="content : ${contents}">
        <div>
            ID : <span th:text="${content.id}"/>
        </div>
        <div class="text">
            投稿 : <span th:text="${content.content}"></span>
        </div>
        <!-- 編集ボタンを押したらcontrollerへ飛ぶ -->
        <div class="edit-button">
            <a th:href="@{/edit/{id}(id=${content.id})}">
                <input type="submit" value="編集" />
            </a>
        </div>
        <!-- 削除ボタンを押したらcontrollerに飛ぶ -->
        <div class="delete-button">
            <form th:method="delete" th:action="@{/delete/{id}(id=${content.id})}">
                <input type="submit" value="削除" />
            </form>
        </div>
        <!-- 返信を表示 -->
        <div th:each="comment : ${comments}">
            <div class="comment" th:if="${content.id} == ${comment.content_id}">
                返信 :<br/>
                <span th:text="${comment.comment}"></span>
                <!-- コメント編集ボタンを押したらcontrollerへ飛ぶ -->
                <div class="edit-button">
                    <a th:href="@{/commentEdit/{id}(id=${comment.id})}">
                        <input type="submit" value="編集" />
                    </a>
                </div>
                <!-- コメント削除ボタン -->
                <div class="delete-button">
                    <form th:method="delete" th:action="@{/deleteComment/{id}(id=${comment.id})}">
                        <input type="submit" value="削除" />
                    </form>
                </div>
            </div>
        </div>
        <!-- コメント機能を追加 -->
        <form th:method="post" th:action="@{/comment/{content_id}(content_id=${content.id})}"
              th:object="${commentModel}">
            <div class="form-area">
                <label>コメント</label>
                <textarea class="comment-box" size="20" maxlength="200"
                          th:field="*{comment}"/></textarea><br/>
                <input type="submit" value="返信" />
            </div>
        </form>
    </div>
</div>
</body>
</html>