<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.forum.mapper.ReportMapper">
    <select id="findAllOrderByupdated_dateDesc" resultType="com.example.forum.repository.entity.Report">
        SELECT * FROM report
        ORDER BY update_dated DESC
    </select>
</mapper>